.txt-center{
  text-align: center;
}
.txt-right{
  text-align: right;
}
.pad-1{
  box-sizing: border-box;
  padding: 1rem;
}
.pad-p5{
  box-sizing: border-box;
  padding: 0.5rem;
}
.pad-p25{
  box-sizing: border-box;
  padding: 0.25rem;
}
.black-white{
  background-color: black;
  color: white;
}
.no-margin{
  margin: 0;
}
.img-link{
  background: none !important;
  padding: 0;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  max-width: 100vw;
}
a{
  background-color: #2dd517;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #000;
}
a:hover, a:active{
  background-color: #000;
  color: #22c9d3;
}
/*Contact Information*/
#contact-info{
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  background-color: #22c9d3;
  height: 50px;
  width: 126px;
  box-sizing: border-box;
  padding: 9px;
  box-shadow: 2px 2px 4px #246782;
}
#contact-info a{
  position: absolute;
  z-index: inherit;
}
.tiny-icons{
  width:30px;
}
#icon-email{
  left: 10px;
}
#icon-linkedin{
  left: 87px;
}
#icon-github{
  left:48px;
}
/*Logo*/
#site-logo{
  background-color: white;
  border-radius: 0 0.5rem;
  border: dashed black 0.25rem;
}
#logo-image{
  width: 200px;
}
#name{
  font-size: 1.5rem;
  font-weight: 600;
  font-variant: small-caps;
}
/*Projects*/
#content-cont{
  display: grid;
  grid-template-columns: 50% 50%;
}
.page-sect{
  margin: 1rem;
  min-height: 300px;
}
.page-sect h1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.5rem;
  line-height: 3rem;
}
.page-sect a{
  text-decoration:none;
}
.sect-1{
  background-color: #2a51e8;
  color: #fff;
  border-radius: 0.5rem 0;
}
.sect-1 a{
  color: #fff;
}
.sect-1 a:hover, .sect-1 a:active{
  color: #2dd517;
}
.sect-2{
  background-color: #e2fbdc;
  border-radius: 0 0.5rem;
}
@media screen and (max-width:700px){
  #content-cont{
    grid-template-columns: 100%;
  }
}
