.a-post{
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 2rem;
}
.a-post h2{
  font-variant: small-caps;
  font-size: 2rem;
  background-color: white;
  padding: 0.5rem;
}
.a-post p{
  background-color: white;
  box-sizing: border-box;
  padding: 2rem 1rem;
  line-height: 1.7rem;
  margin: 1rem 3rem;
}
.list-intro{
  margin: 1rem !important;
}
.earring-steps{
  background-color: white;
}
.earring-steps li{
  list-style-type: none;
  list-style-image: url(../media/scissor-and-comb.png);
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
#hole-prep{
  background-color: white;
}
#hole-prep li{
  list-style-type: none;
  list-style-image: url(../media/needle.png);
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
#hole-prep a{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #2e0a9c;
    background-color: #f0c299;
    padding: 0.25rem;
}
#hole-prep a:hover, #hole-prep a:active{
  color: #f0c299;
  background-color: #2e0a9c;
  padding: 0.25rem;
}
.stripes img{
  margin: 1rem 0;
}
.stripes figcaption{
  padding: 0.5rem;
  background-color: #f0c299;
}
#accessorize figure{
  margin: 0 2rem;
}
#accessorize figcaption{
  color: white;
}
#accessorize ul, .stripes ul{
  margin: 1rem;
  box-sizing: border-box;
  padding: 2.5rem 1rem;
}
#encourage{
  max-width: 600px;
}
.dotted-partition{
  margin: 3rem;
  border-top: dotted white 0.5rem;
}
.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
  box-sizing: border-box;
  padding: 2rem 1rem;
}
.flex-rev{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 0 1rem;
}
@media screen and (max-width:600px){
  .a-post p{
    margin: 0.5rem;
  }375
  .a-post figure{
    margin: 0.5rem;
  }
  .a-post img{
    width: 100%;
  }
  #wrap-dress{
    width: 90%;
  }
  .flex{
    padding: 2rem 0.5rem;
  }
}
