body{
  font-size: 1.3em;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #bdf3da !important;
}
/*Header top/side bar*/
.contact-info{
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: #22c9d3;
  height: 126px;
  width:50px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #246782;
}

.contact-info a{
  position: absolute;
  z-index: inherit;
  left: 10px;
}

.tiny-icons{
  width:30px;
}

#icon-email{
  top:9px;
}

#icon-linkedin{
  bottom: 9px;
}

#icon-github{
  top:48px;
}
/*Main navigation*/
.side-top-burger{
  position: fixed;
  z-index: 3;
  height: 100vh;
  width:22.6rem;
  box-sizing: border-box;
}
/*Display menu when hovered over*/
.side-top-burger:hover{

}

.site-logo{
  position: absolute;
  z-index: inherit;
  background-color: white;
  left: 2rem;
  top: 2rem;
  box-sizing:border-box;
  padding: 3rem;
  border-radius: 6rem;
  border: dashed black 0.3rem;
}

.logo-image{
  width:12rem;
}

.main-menu{
  position: absolute;
  top: 22rem;
  left: 0px;
  z-index: 4;
  background-color: #2a51e8;
  width: 90%;
  height:50vh;
  border-radius: 0.3rem;
  border-top: dashed black 0.3rem;
  border-right: dashed black 0.3rem;
}

.menu-patch{
  position: absolute;
  top: 22rem;
  left: 0px;
  z-index: 3;
  background-color: #2dd517;
  width: 90%;
  height:50vh;
  transform: rotate(10deg);
  border-radius: 0.3rem;
  border: double #bdf3da 0.3rem;
}
.content-container{

}
/*Footer*/
.site-footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  z-index: 3;
  background-color: black;
  width:inherit;
  display: flex;
  flex-direction: row;

}

.footer-menu{
  display: inline-block;
  width: 50%;
  padding: 2rem;
}

.footer-credit{
  display: inline-block;
  width: 50%;
}

.site-credit{
  font-size: 1.3em;
  color: white;
  box-sizing: border-box;
  padding: 2rem 2rem 1rem 2rem;
}

.icon-credit{
  font-size: 1.1em;
  color: white;
  text-align: justify;
  box-sizing: border-box;
  padding: 1rem 2rem 2rem 2rem;
}
