.placeholder-text{
  /*Text appearance*/
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: #1d33af;

  /*Container styling and positioning*/
  box-sizing: border-box;
  padding: 30px;
  border: 0px;
  margin: 0px;
  box-shadow: 2px 2px 4px #246782;
  width: 300px;
  overflow: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  background-color: #8effee;

  /*Continer animation*/
  animation: sway 10s ease-in infinite alternate forwards;
}

/*Animation definition*/
@keyframes sway {
  
}

.web-logo{
  /*Container styling*/
  padding: 20px;
  box-sizing: border-box;
}

body{
  /*Container sizing*/
  width: 100vw;
  height: 100vh;
}
